__pycache__
*.egg-info
secrets.py
dist
build
test.py
/urls.txt
*.flac
/Downloads
/custom_custom_streamripDownloads
*.mp3
custom_custom_streamripDownloads
*.wav
*.log
*.mp4
*.opus
*.mkv
*.aac
*.pyc
*test.py
/.mypy_cache
.DS_Store
pyrightconfig.json
